<div class="main">
  <nav class="nav">
    <div>
      <h1 class="nav__title">
        Cambio
        <span class="nav__title-span">Dolar</span>
      </h1>
    </div>
  </nav>

  <div class="section-responsive">
    <section class="body">
      <h1 class="body__title">
        ¡Cambias online <span class="body__title-span">al toque!</span>
      </h1>
    </section>

    <div class="section-change-divisa">
      <app-change-divisa></app-change-divisa>
    </div>
  </div>

  <footer>
    <div class="footer">
      <p>
        <i class="fa-regular fa-copyright"></i>
        Todos los derechos reservados
      </p>
    </div>
  </footer>
</div>
